{
    "presets": [
        ["env", {
            "targets": {
                "node": "7.0"
            }
        }]
    ],
    "plugins": [
        "transform-flow-strip-types",
        "transform-class-properties"
    ]
}
