{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype",
        "prettier"
    ],
    "extends": [
        "airbnb",
        "plugin:flowtype/recommended",
        "prettier",
        "prettier/flowtype",
        "prettier/react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true
    },
    "rules": {
        "func-names": 0,
        "import/prefer-default-export": 0,
        "max-len": 0,
        "no-await-in-loop": 0,
        "no-console": 0,
        "no-mixed-operators": 0,
        "no-param-reassign": 0,
        "no-prototype-builtins": 0,
        "no-restricted-syntax": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "padded-blocks": 0,
        "prettier/prettier": "error",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "overrides": [
        {
            "files": [ "scripts/**/*.js" ],
            "rules": {
                "import/no-extraneous-dependencies": 0,
            }
        }
    ]
}
